/* @font-face {
    font-family: 'sans';
    src: url('font/Sans\ a4fran3.eot') format('.eot');
    src: url('font/Sans\ a4fran3.ttf') format('.ttf');
    src: url('font/Sans\ a4fran3.woff') format('.woff');
    src: url('font/Sans\ a4fran3.svg') format('.svg');
} */
@import url('https://fonts.googleapis.com/css2?family=Katibeh&family=Markazi+Text:wght@400;500;600;700&family=Mirza:wght@400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Sans+Pro:wght@400;600;700&display=swap');



body {
  margin: 0;
  padding: 0;
  font-family: Katibeh ;
  background-color: #ffffff;
}
* {
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
nav {
  width: 100%;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.5);
  z-index: 100;
}
.social-call {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.social a {
  margin: 0 5px;
  color: rgba(0, 0, 0, 0.7);
}
.phone {
  color: rgba(0, 0, 0, 0.7);
  margin-left: 30px;
}
.social a:hover {
    color: #0b9d8a;
    transition: all ease 0.3s;
}
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 45px;
}